.product-list {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.product-list__card {
  position: relative;
  display: flex;
  flex-direction: column;
  user-select: none;
  justify-content: center;
  align-items: center;
  color: #000;
  width: 200px;
  aspect-ratio: 1/1;
  padding: 0.75rem;
  background-color: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.product-list__card:hover .product-list__card-button {
  opacity: 1;
}

.product-list__card-img {
  width: 100%;
}

.product-list__card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 40px;
  line-height: 20px;
  overflow: hidden;
  font-weight: 600;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  color: var(--zinc-700);
  text-overflow: ellipsis;
}

.product-list__card-price {
  color: var(--purple-redux);
  font-weight: 600;
}

.product-list__card-button {
  position: absolute;
  height: 40px;
  width: 75%;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
  border-radius: 5px;
  border: none;
  background-color: var(--purple-redux);
}

.product-list__card-button span {
  text-transform: uppercase;
}

.product-list__card-button:hover {
  cursor: pointer;
}

.product-list__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: none;
  background: rgba(0, 0, 0, 1);
  transition: background 0.5s ease;
}

.product-list__card:hover .product-list__card-overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

/***************************** Swiper Styles **********************************/

.swiper {
  width: 100%;
  height: auto;
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.swiper-wrapper {
  display: flex;
  padding-top: 2rem;
  justify-content: space-around !important;
  height: 300px !important;
}

.swiper-slide {
  display: flex !important;
  height: min-content !important;
  justify-content: space-around !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid var(--white);
  background-color: transparent;

  top: auto !important;
  bottom: 0 !important;
  width: 3rem !important;
  height: 3rem !important;
  z-index: 20 !important;
  color: var(--white) !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  left: auto;
  right: var(--swiper-navigation-sides-offset, 15px) !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  right: auto;
  left: var(--swiper-navigation-sides-offset, 15px) !important;
}

.swiper-button-prev .swiper-button-disabled,
.swiper-button-next .swiper-button-disabled {
  border: 1px solid #525255;
  color: #525255 !important;
}

.swiper-pagination-bullet {
  width: 1rem !important;
  height: 1rem !important;
  background-color: white !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 65px !important;
  max-width: calc(100% - 130px) !important;
}

.swiper-pagination {
  margin-top: 10px !important;
}
