.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 1.5rem;
  color: var(--white);
  background-color: var(--zinc-900);
  justify-content: space-between;
  flex: 1;
}

.header_logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.header_logo h1 {
  font-weight: 600;
  font-size: 1.75rem;
  text-transform: uppercase;
}

.header_btn-cart {
  position: relative;
  font-size: 2rem;
  width: auto;
  border: none;
  color: var(--white);
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.header_btn-cart_badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  top: -5px;
  right: -10px;
  min-width: 25px;
  min-height: 25px;
  max-width: 50px;
  font-size: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--purple-redux);
}
